
/* fonts */

/* Google Fonts
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans:400,600,400italic,700,800);
$Baskerville: 'Libre Baskerville', serif;
$Avenir: 'Open Sans', sans-serif;
*/

@font-face {
    font-family: 'Baskerville';
    src: url(../fonts/Baskerville/Baskerville.tff);
}
@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir/Avenir-Roman.tff);
}
$Baskerville: 'Baskerville', serif;
$Avenir: 'Avenir', sans-serif;

/* logo colors */
$burgundy: #7C151A;
$gold: #FBCF10;
$navy: #353A68;

/* supporting colors */
$light-blue: #9BD8E1;
$turquoise: #157C79;
$light-yellow: #F8E597;

/* grayscale colors */
$white: #FFFFFF;
$silver: #EDEDED;
$light-gray: #A3A1A1;
$dark-gray: #5C5D5D;
$black: #000000;

.computer {
    background-color: $dark-gray!important;
}
.medical {
    background-color: $navy!important;
}
.construction {
    background-color: $gold!important;
}
.arts {
    background-color: $light-blue!important;
}
.education {
    background-color: $turquoise!important;
}
.culinary {
    background-color: $burgundy!important;
}
.business {
    background-color: $light-yellow!important;
}
.retail {
    background-color: $light-gray!important;
}
