<footer>
            <div class="footer-left">
                <h3><img src="../assets/img/black-logo.png" alt="Logo" /></h3>
                </br>
                <p class="footer-company-name">Ignite &copy; 2016</p>
            </div>
            <div class="footer-center">
                <div>
                    <div><a href="https://www.google.com/maps/place/500+Tiger+Blvd,+Bentonville,+AR+72712/@36.3865368,-94.216935,17z/data=!3m1!4b1!4m5!3m4!1s0x87c91ac1ad5ac3c7:0xd88a81eb80018d61!8m2!3d36.3865368!4d-94.2147463">
                        <i class="fa fa-map-marker"></i></a>
                        <p><span>500 Tiger Blvd</span> <span>Bentonville, AR 72712</span></p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p><span>479-418-7359</span></p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:thudson@bentonvillek12.org">thudson@bentonvillek12.org</a></p>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <a href="http://yourcapsnetwork.org/"><img src="../assets/img/caps-network.png" alt="CAPS Logo"/></a>
                </p>
                <div class="footer-icons">
                    <a href="https://twitter.com/ignitepsc"><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                                   </div>
            </div>
        </footer>