<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="index.html#">
                        <img src="../assets/img/logo.png" alt="Ignite Logo" />
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html#welcome">Welcome</a></li>
                        <li><a href="index.html#about">About</a></li>
                        <li><a href="index.html#strands">Strands</a></li>
                        <li><a href="index.html#quotes">Quotes</a></li>
                        <li><a href="index.html#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>